.header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #222222;
    height: 75px;
}

.menu_left {

    margin-left: 231px;
    gap: 41px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

}

.menu_right {
    margin-right: 240px;

    gap: 33px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}



.burger_menu {

    display: none;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px 0 32px 33px;
    top: 83px;
    right: 0;
    width: 232px;
    height: 634px;
    background: #FFF;
    box-shadow: -7px 7px 22px 4px rgba(0, 0, 0, 0.1);
    align-content: flex-start;
    transition: right .7s;

}


.burger:active .burger_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}


.burger:active {
    display: flex;
    align-items: center;
    cursor: pointer;


}

/* .burger:focus ~ .burger_menu,
.burger:active ~ .burger_menu,

.burger_menu:hover{
    display: flex;
} */
.burger:active::after .burger_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.burger_menu::after {
    display: flex;
}

.nav a:hover {
    color: #F16D7F;
}

.nav:hover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    cursor: pointer;
}



.clothes_man {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #6F6E6E;
    align-content: space-between;
    gap: 11px;

}

.clothes_woman {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    line-height: 17px;
    gap: 11px;

}

.clothes_kids {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    line-height: 17px;
    gap: 11px;

}

a {
    color: #6F6E6E;
    line-height: 17px;
    font-size: 14px;
    padding-left: 22px;

}

h8 {
    display: flex;


    color: #F16D7F;
}

h9 {
    padding-top: 32px;
    padding-bottom: 13px;
}



.banner {

    display: flex;
    position: relative;


    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: #F1E4E6;
}

.slogan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.slogan img {
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 16px;
    width: 12px;
    height: 92px;
}


.banner img {
    display: flex;

}

h1 {

    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-size: 48px;
}

h2 {

    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-size: 32px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 65px;
}

.section_for_women {
    position: relative;

}




.slogan_for_woman {
    position: absolute;
    width: 154px;
    height: 50px;
    top: 105px;
    left: 103px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    text-align: center;
}

.slogan_for_woman:hover {
    transform: scale(1.1);
}

.slogan_for_woman::after {
    transition: 3s;
}

.slogan_for_woman h4 {
    color: #F16D7F;
    margin: 0;
    font-size: 22px;
}

.slogan_for_woman h5 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 16px;
}

.section_for_men {
    position: relative;
}

.slogan_for_man {
    position: absolute;
    width: 154px;
    height: 50px;
    top: 105px;
    left: 103px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    text-align: center;
}

.slogan_for_man:hover {
    transform: scale(1.1);
}

.slogan_for_man::after {
    transition: 3s;
}

.slogan_for_man h4 {
    color: #F16D7F;
    margin: 0;
    font-size: 22px;
}

.slogan_for_man h5 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 16px;
}

.section_for_kids {
    position: relative;
}

.slogan_for_kids {
    position: absolute;
    width: 154px;
    height: 50px;
    top: 105px;
    left: 103px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    text-align: center;
}

.slogan_for_kids:hover {
    transform: scale(1.1);
}

.slogan_for_kids::after {
    transition: 3s;
}

.slogan_for_kids h4 {
    color: #F16D7F;
    margin: 0;
    font-size: 22px;
}

.slogan_for_kids h5 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 16px;
}

.section_accesories {
    position: relative;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.slogan_accesories {
    position: absolute;
    width: 180px;
    height: 50px;
    top: 65px;
    left: 480px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    text-align: center;
}

.slogan_accesories:hover {
    transform: scale(1.1);
}

.slogan_accesories::after {
    transition: 3s;
}

.slogan_accesories h4 {
    color: #F16D7F;
    margin: 0;
    font-size: 22px;
}

.slogan_accesories h5 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 16px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
}

.subtitle h3 {
    /* margin: 0; */
    font-size: 30px;
}

.subtitle_span {
    margin: 0;
    font-size: 14px;
}

.product_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 30px;
}




.card1 {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pht1 {
    display: flex;
    position: relative;
    /* z-index: 1; */
    flex-direction: row;
    flex-wrap: wrap;
    /* left: 16px; */
    /* bottom: 7px; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bg1 {

    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}


.bsk2 {
    display: flex;
    position: absolute;
    z-index: 1;
    display: none;
    opacity: 0.33px;
}

.card1:hover .pht1 {
    display: block;

    /* filter: grayscale(100%);
     background-color: #3A3838; 
    z-index: 1;  */
}

.card1:hover .bsk2 {
    display: flex;
}

.card2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    position: relative;

}

.cardbg {

    width: 360px;
    height: 420px;
    background-color: #F7E4E2;
    transition: all .3s;
}

.cardbg img {
    position: relative;
    top: 9px;
    left: 108px;
}

.imag {
    position: relative;
}

.cardbg svg {
    display: none;
    position: absolute;
    top: 188px;
    left: 125px;

    /* justify-content: center; */

    /* align-items: center; */

    /* align-content: center; */
}



.card2:hover .cardbg svg {
    display: block;

}

.card2:hover .imag {
    filter: grayscale(86%);

}

.card2:hover .cardbg {
    background-color: #3A3838;
}

.card3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;



}

.card4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;



}

.card5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;



}

.card6 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;



}

.desc {
    width: 360px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-right: 16px;
    margin-left: 16px;
    background-color: #F8F8F8;
    flex-wrap: nowrap;
    align-content: center;
}



h6 {
    font-size: 13px;
    margin-left: 16px;
    padding-right: 28px;
    padding-top: 25px;
}

span {
    margin-left: 16px;
    padding-right: 28px;
}

p {
    margin-left: 16px;
    padding-right: 28px;
    font-size: 16px;
    color: #F16D7F;
}

button {

    color: #F26376;

    border: 1px solid #F26376;

    width: 212px;

    height: 48px;
    transition: all .3s;

}

.button1 {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;

}

button:hover {
    color: white;
    background-color: #F16D7F;
}


button:active {
    color: white;
    background-color: black;
    border: 1px solid black;
}




/* блок после карточек */


.item1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.desc_item {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 74px;
    color: #FBFBFB;
}

h7 {
    font-size: 19px;
    margin-bottom: 16px;
}


.item2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 103px;
    margin-bottom: 104px;
    gap: 30px;
    background-color: #222224;
    max-width: 1920px;
    height: 341px;
}


.item1 img {
    margin-bottom: 28px;
}

.item2 img {
    margin-bottom: 28px;
}

.item3 img {
    margin-bottom: 28px;
}

.avatar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin-right: 223px; */
}

.desk_avatar {
    display: flex;
    width: 360px;
    height: 99px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}


/* Форма */

.subtitle_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 150px; */
}

.desk_form {
    margin-top: 5px;
    margin-bottom: 32px;
}

.subscribe__form {
    display: flex;

}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}


.input_email {
    width: 74.4%;
    height: 49px;
    padding-left: 22px;
    background: #E1E1E1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
}

.input_button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 0 8px;
    width: 29%;
    height: 51px;
    background: #F16D7F;
    border: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.input_button:hover {
    color: #F16D7F;
    background: white;
    transition: all .3s;
}

.input_button:active {
    color: #FFFFFF;
    background: black;

}


/* Подвал */


footer {
    height: 79px;
    margin-top: 156px;
    background: #222224;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 235px;
    text-align: center;
}

.social {
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-right: 235px;
}

.facebook {
    padding: 8px 10.9px 8px 10.6px;
    background: #FFF;
}

.instagram {
    padding: 8px 8.6px 8px 7.94px;
    background: #FFF;
}

.pinterest {
    padding: 8px 9.6px 8px 9.93px;
    background: #FFF;
}

.twitter {
    padding: 8px 7.61px 8px 7.92px;
    background: #FFF;
}


.instagram:hover {
    color: black;
    background: #F16D7F
}

.instagram:active {

    background: black;

}

.instagram:hover path {
    fill: #ffffff;
    stroke: #ffffff;
}








/* Версия для планшета 768-1024 */

@media (max-width: 1024px) and (min-width: 768px) {
    .header {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        background-color: #222222;
        height: 75px;
    }

    .menu_left {


        gap: 41px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 32px;

    }

    .menu_right {


        gap: 33px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 32px;

    }

    .banner {

        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        background-color: #F1E4E6;
    }





    .slogan img {
        display: flex;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 16px;
        width: 12px;
        height: 92px;
    }


    .banner img {
        display: flex;
        width: 386px;
        height: 368px;
    }

    h1 {

        margin-top: 0;

        margin-bottom: 0;

        display: flex;

        flex-direction: column;

        flex-wrap: wrap;

        align-content: center;

        justify-content: flex-start;

        align-items: center;

        font-size: 48px;
    }

    h2 {

        margin-top: 10px;

        margin-bottom: 0;

        display: flex;

        flex-direction: column;

        flex-wrap: wrap;

        justify-content: flex-end;

        align-items: flex-start;

        font-size: 32px;

        align-content: flex-start;
    }

    .cards {
        max-width: 1024px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: center;
        gap: 16px;
        margin-top: 65px;

        justify-content: center;
    }

    .section_for_women {
        position: relative;

    }

    .section_for_women img {
        width: 232px;
        height: 169px;
    }


    .slogan_for_woman {
        position: absolute;
        width: 154px;
        height: 50px;
        top: 45px;
        left: 39px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        /* gap: 5px; */
        text-align: center;
    }

    .slogan_for_woman h4 {
        color: #F16D7F;
        margin: 0;
        font-size: 22px;
    }

    .slogan_for_woman h5 {
        color: #ffffff;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .section_for_men {
        position: relative;
    }

    .section_for_men img {
        width: 232px;
        height: 169px;
    }


    .slogan_for_man {
        position: absolute;
        width: 154px;
        height: 50px;
        top: 45px;
        left: 39px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        /* gap: 5px; */
        text-align: center;
    }

    .slogan_for_man h4 {
        color: #F16D7F;
        margin: 0;
        font-size: 22px;
    }

    .slogan_for_man h5 {
        color: #ffffff;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .section_for_kids img {
        width: 232px;
        height: 169px;
    }

    .section_for_kids {
        position: relative;
    }

    .slogan_for_kids {
        position: absolute;
        width: 154px;
        height: 50px;
        top: 45px;
        left: 39px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        /* gap: 5px; */
        text-align: center;
    }

    .slogan_for_kids h4 {
        color: #F16D7F;
        margin: 0;
        font-size: 22px;
    }

    .slogan_for_kids h5 {
        color: #ffffff;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .section_accesories {
        position: relative;
    }

    .section_accesories img {
        width: 735px;
        height: 116px;
    }

    .slogan_accesories {
        position: absolute;
        width: 180px;
        height: 50px;
        top: 30px;
        left: 288px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: stretch;
        /* gap: 5px; */
        text-align: center;
        align-content: stretch;
        flex-wrap: nowrap;
    }

    .slogan_accesories h4 {
        color: #F16D7F;
        margin: 0;
        font-size: 22px;
    }

    .slogan_accesories h5 {
        color: #ffffff;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .subtitle {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 96px;
        max-width: 1024px;
        /* min-width: 768px; */
    }

    .subtitle h3 {
        margin: 0;
        font-size: 30px;


    }

    .subtitle_span {
        margin: 0;
        font-size: 14px;
    }

    .product_cards {
        max-width: 1024px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: stretch;
        margin-top: 54px;
        margin-bottom: 18px;
        gap: 10px;
        justify-content: center;
    }

    .card1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: px;
    }

    .card2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 360px;
        justify-content: center;
    }

    .cardbg {
        position: relative;
        width: 360px;
        height: 420px;
        background-color: #F7E4E2;
    }

    .cardbg img {
        position: absolute;
        top: 9px;
        left: 108px;





    }

    .card3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 360px;



    }

    .card4 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 360px;




    }

    .card5 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 360px;



    }

    .card6 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 360px;



    }

    .desc {
        width: 360px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 16px;

        margin-right: 16px;
        margin-left: 16px;
        background-color: #F8F8F8;
    }



    h6 {
        font-size: 13px;
        margin-left: 16px;
        padding-right: 28px;
        padding-top: 25px;
    }

    span {
        margin-left: 16px;
        padding-right: 28px;

    }

    p {
        margin-left: 16px;
        padding-right: 28px;
        font-size: 16px;
        color: #F16D7F;
    }

    .header {
        max-width: 1024px;
        min-width: 768px;
        min-height: 75px;

    }

    .menu_left {
        padding-left: 32px;
    }

    .menu_right {
        padding-right: 32px;
    }

    .banner {
        max-width: 1024px;
        min-width: 768px;
        display: flex;
    }

    .slogan {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .slogan img {
        display: flex;
        margin-right: 16px;
        width: 12px;
        height: 92px;
    }

    .slogan_text {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-content: flex-start;
        align-items: flex-start;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 24px;
    }

    button {

        color: #F26376;

        border: 1px solid #F26376;

        width: 212px;

        height: 48px;
    }

    .button1 {
        max-width: 1024px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }


    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 103px;
        margin-bottom: 104px;
        gap: 30px;
        background-color: #222224;
        max-width: 1024px;
        height: 610px;
    }


    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly
    }

    .avatar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
    }

    .desk_avatar {
        display: flex;
        width: 360px;
        height: 99px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
    }


    .subtitle__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 1px;
    }

    .desk_form {
        margin-top: 5px;
        margin-bottom: 32px;
    }

    .subscribe__form {
        display: flex;
        margin-bottom: 140px;
    }

    .footer_link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    .foot {

        margin-left: 32px;
    }

    .social {

        margin-right: 32px;
    }

}





/* версия для мобилки */

@media (max-width: 767px) and (min-width: 320px) {


    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
        background-color: #222222;
        height: 74px;
        /* width: 320px; */
    }

    .menu_left {

        margin-left: 16px;

    }


    .menu_right {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-right: 16px;

    }


    .person img {
        display: none;

    }

    .basket img {
        display: none;

    }



    .banner img {
        display: none;
        overflow: hidden;
    }

    .banner {

        display: flex;

        flex-direction: column;

        flex-wrap: wrap;

        align-content: center;

        justify-content: center;

        align-items: center;

        height: 363px;
    }

    h1 {
        font-size: 38px;

    }

    h2 {
        font-size: 20px;

    }

    .section_accesories {
        position: relative;
        /* width: 344px; */
        /* height: 111px; */
    }

    .slogan_accesories {
        position: absolute;
        width: 175px;
        height: 50px;
        top: 20px;
        left: 92px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        /* gap: 5px; */
        text-align: center;
        flex-direction: column-reverse;
        align-content: center;
    }

    .card_imgbox4 img {
        display: flex;
        height: 111px;
        width: 344px;
    }

    .subtitle {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        text-align: center;
        /* margin-top: 4px; */
    }

    .card_imgbox1 img {
        width: 344px;
        height: 248px;
    }

    .card_imgbox2 img {
        width: 344px;
        height: 248px;
    }

    .card_imgbox3 img {
        width: 344px;
        height: 248px;
    }


    .article {
        max-width: 767px;
        height: 610px;

    }

    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .avatar {
        display: flex;
        margin-right: 0;
    }

    .subtitle_form {
        display: flex;
        margin-bottom: 140px;
        margin-top: 50px;
    }



    .foot {

        font-size: 16px;

        flex-wrap: wrap;

        justify-content: center;

        align-items: center;

        align-content: center;

        flex-direction: row;

        margin: 0;

        text-align: center;
    }

    .social {

        margin: 0;
    }

    footer {

        display: flex;
    flex-direction: column-reverse;

        flex-wrap: wrap;

        align-content: center;

        justify-content: space-evenly;

        align-items: center;

        height: 143px;
    }
}